---
import { Icon } from "astro-icon";
---

<footer
  class="mx-auto w-full max-w-screen-md border-gray-200 items-center px-3"
>
  <div
    class="flex flex-col items-start sm:flex-row justify-between border-t py-5 gap-4"
  >
    <p>
      &copy; 2023 <a href="/" class="font-semibold">Dimas</a> - Made with ❤️
      using Astro.js
    </p>
    <ul class="flex space-x-3 flex items-center">
      <li>
        <a
          href="https://www.instagram.com/kdimas29/"
          target="_blank"
          class="text-gray-600 flex items-center gap-1 unset"
          ><Icon
            pack="ion"
            name="logo-instagram"
            class="w-6 transition-all transform hover:rotate-6"
          /></a
        >
      </li>
      <li>
        <a
          href="https://github.com/kdimas12"
          target="_blank"
          class="text-gray-600 flex items-center gap-1 unset"
          ><Icon
            pack="ion"
            name="logo-github"
            class="w-6 transition-all transform hover:rotate-6"
          /></a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/dimaskurniawan40"
          target="_blank"
          class="text-gray-600 flex items-center gap-1 unset"
          ><Icon
            pack="ion"
            name="logo-linkedin"
            class="w-6 transition-all transform hover:rotate-6"
          /></a
        >
      </li>
    </ul>
  </div>
</footer>
